

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
}


header {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #d2691e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}


section {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}


h1, h2 {
    color: #333;
}


p {
    color: #555;
    line-height: 1.6;
}


img {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}


footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-section .text {
    width: 50%;
}

.home-section .image {
    width: 50%;
}

.home-section img {
    width: 100%;
    border-radius: 10px;
}
